.cover-container {
    padding: 160px 0 100px;
    background: url('./../img/bg-cover.png') no-repeat;
    background-size: 100%;

    @media screen and (max-width: 480px) {
        padding: 170px 0 100px;
        background-size: 245%;
        background-position: 100% 0;
    }
    
    @media screen and (min-width: 768px) and (max-width: 978px) {
        background-size: 200%;
        background-position: 80% 0;
    }

    @media screen and (min-width: 980) and (max-width: 1361px) {
        background-size: 120%;
        background-position: -115px 0;
    }

    @media screen and (min-width: 1362px) {
        padding-top: 260px;
     }

    .cover-wrapper {
        max-width: 963px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (max-width: 480px) {
            padding: 0 15px;
        }

        @media screen and (min-width: 480px) and (max-width: 768px) {
            padding: 0 50px;
        }

        @media screen and (min-width: 1361px) {
            margin: 0 auto 170px;
        }

        .cover-img-wrapper {
            width: 100%;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }

            @media screen and (min-width: 768px ) and (max-width: 1440px) {
               width: 70%;
            }
        }

        .cover-title {
            padding: 0 30px;
            margin: 50px 0 20px;

            h1 {
                font-size: 30px;
                font-family: $circular;
                font-weight: bold;
                text-align: center;
                color: inherit;
                line-height: 40px;
                margin: 0;
            }

            @media screen and (max-width: 480px) {
                padding: 0;
              h1 {
                  font-size: 24px;
              }
            }
        }

        .btn-contact {

            a {
                text-decoration: none;
                font-size: 18px;
                font-family: $circular;
                border-bottom-width: 50px;
                color: inherit;
                position: relative;
                z-index: -1;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -4px;
                    width: 105%;
                    height: 3px;
                    background: #F21689;
                    transition: .3s;
                }
            }

            &::after {
                content: url("../../public/img/arrow-black.png");
                margin-left: 20px;
                position: relative;
                top: 3px;
                z-index: -1;
                transition: .8s;
            }

            &:hover {
                &::after {
                    left: 5px;
                    transition: .8s ease-in-out;
                }

                a::after {
                    bottom: -8px;
                    left: 5px;
                    height: 8px;
                    transition: 0.3s;
                }
            }
        }
    }
}