.cover-info-container {
    padding-top: 153px;
    background:  url("./../img/headerpageinfo.png") no-repeat;
    background-size: 105%;
    background-position: -100px -65px;

    .cover-info-wrapper {
        max-width: 1361px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 55px;

        .cover-info-title {
            h1 {
                display: flex;
                flex-direction: column;
                margin: 0;
                font-size: 30px;
                font-weight: bold;
                line-height: 40px;
                font-family: $circular;
                color: $white;
                background-color: $lightPurple;

                span{
                    font-size: 20px;
                    font-weight: normal;
                    font-family: inherit;
                    color: inherit;
                }
            }
        }
    }

    @media screen and (max-width: 480px) {
        background-size: 285%;
        background-position: 80% -68px;

        .cover-info-wrapper {
            justify-content: space-evenly;
            .cover-info-img-wrapper {
                display: none;
            }
        
            .cover-info-title {
                margin-bottom: 10px;
            }
        }
    }

    @media screen and (min-width: 480px) and (max-width: 768px ) {
        background-size: 168%;
        background-position: 80% -68px;

        .cover-info-wrapper {
            justify-content: space-evenly;
            .cover-info-img-wrapper {
                width: 50%;
            }
        }
    }

    @media screen and (min-width: 769px) and (max-width: 1440px) {
        background-size: 130%;
        background-position: 80% -68px;

        .cover-info-wrapper {
            justify-content: space-evenly;
            .cover-info-img-wrapper {
                width: 50%;
            }
        }
    }

    @media screen and (min-width: 1441px){
        background-size: cover;
        background-position: 70% 0;

        .cover-info-wrapper {
            justify-content: space-evenly;
        }
    }
}