footer {
    position: relative;

    &::before {
        z-index: 3;
        content: '';
        background-image: url('./../img/footer-gauche.png');
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: left bottom;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 90%;
        width: 20%;

    }

    .top-footer {
        position: relative;
        background-color: $lightPurple;

        &::before {
            content: '';
            background-image: url('./../img/footer-droite.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right top;
            position: absolute;
            right: 0;
            top: 0;
            height: 90%;
            width: 50%;

        }

        .footer-wrapper {
            z-index: 2;
            position: relative;
            padding: 5em 0;
            display: flex;
            max-width: 1060px;
            margin: 0 auto;

            ul {
                color: $white;
                font-family: $circular;
                font-weight: 500;
                list-style-type: none;
                padding: 0;
                margin: 0;
                margin-right: 126px;

                li {
                    font-size: size(18);
                    margin-bottom: 16px;

                    &.title {
                        font-size: size(20);
                        margin-bottom: 39px;
                    }

                    a,
                    a:visited {
                        color: $white;
                        text-decoration: none;

                    }
                }
            }

            .cta-wrapper {
                flex: 1;
                align-self: flex-end;
                text-align: right;

                a {
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    font-size: size(22);
                    color: $white;
                    padding: .4em .6em;
                    font-family: $circular;
                    background-color: $pink;
                    text-decoration: none;
                    transition: all .4s ease-in-out;

                    &::after {
                        content: '';
                        display: block;
                        background-image: url('./../img/svg/arrow-right-white.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        margin-left: .65em;
                        height: 1em;
                        width: .85em;
                    }

                    &:hover,
                    &:focus {
                        background-color: darken($pink, $amount: 5);

                    }
                }
            }
        }
    }

    .bottom-footer {
        background-color: #5052B1;
        display: flex;
        justify-content: center;
        padding: size(17) 0;
        color: $white;
        font-family: $circular;
        font-weight: bold;
        font-size: size(14);

        img {
            margin-left: .6em;
        }
    }
}