// ===
/* ANCHOR BODY BASICS */
// ===

body {
    font-family: $inter;
    font-size: 16px;
    line-height: 1.1em;
    color: $black;
    font-weight: normal;

    * {
        box-sizing: border-box;
    }


    
}

