html {
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header.scroll {
    background-color: $white;
    box-shadow: 0 0 10px rgba(#000, .5);
    transition: .5s;

    .navbar-container {
        padding: 15px 30px;
        transition: .5s;

        @media screen and (min-width: 1361px) {
            padding: 15px 110px
        }
    }
}

.navbar-container {
    display: flex;
    padding: 40px 30px 0 ;
    transition: .5s;

    @media screen and (min-width: 1361px) {
        padding: 40px 110px 0;
    }
    .navbar-brand {
        min-width: 136px;
        height: 57px;
        margin: 0 66px 0 78px;

        img {
            width: 100%;
            height: 100%;
        }

        @media screen and (max-width: 1361px) {
            margin: 0 66px 0 auto;
         }
    }

    .navbar-nav {
        width: 1361px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 1106px) {
            justify-content: flex-end;   
        }

        .navbar-link-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;

            
            @media screen and (max-width: 1106px) {
                display: none;   
            }

            .navbar-link {
                margin-right: 48px;
                font-family: $circular;
                font-size: 18px;
                padding: 2px 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: -8px;
                    width: 0;
                    height: 8px;
                    background: $pink;
                    margin-bottom: 2px;
                    transition: width .3s;
                }

                &:hover::before {
                    width: 100%;
                }

                a {
                    display: inline-block;
                    color: inherit;
                    text-decoration: none;
                }
            }
        }

        .btn-portal {
            background-color: $pink;
            border: none;
            border-radius: 3px;
            color: $white;
            font-size: 22px;
            font-family: $circular;
            padding: 8px 13px;

            &::after {
                content: url("./../img/svg/arrow-right-white.svg");
                margin-left: 9px;
            }

            &:hover {
                cursor: pointer;
                background-color: darken($pink, 10%);
                transition: .3s;
            }
        }
    }
}