#simplify-container {
    position: relative;
    background: transparent linear-gradient(115deg, #5E60CF 0%, #6931C5 100%) 0% 0% no-repeat padding-box;
    border-radius: 100px 0;
    padding: 150px 0;

    
    @media only screen and (max-width:690px) {
        padding: 80px 0;
    }

    &::after{
        content: '';
        background-image: url('./../img/cubes.png');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        display: block;
        height: 200px;
        width: 200px;
        right: 7%;
        bottom: 5%;

        @media only screen and (max-width:960px) {
            display: none;
        }
    }

    .section-wrapper {
        position: relative;
        max-width: 1360px;
        margin: 0 auto;

        @media only screen and (max-width:1361px) {
                
            padding: 0 30px;
        }
        

        .text-wrapper {
            color: $white;
            max-width: 685px;


            h2 {
                font-family: $circular;
                font-size: size(30);
                font-weight: 900;
                margin-bottom: 1.6em;
            }

            p {
                font-family: $circular;
                line-height: 120%;
                font-size: size(16);

                strong {
                    margin-top: 2em;
                    display: block;
                }
            }
        }

        .list-wrapper {
            position: relative;
            max-width: 460px;
            margin: 7em auto 0;
            background-color: $white;
            border-radius: 10px;
            box-shadow: 0px 3px 6px #00000029;
            padding: 42px 42px 38px 40px;

            
            &::before{
                content: '';
                background-image: url('./../img/svg/arrow-hand.svg');
                display: block;
                height: 100px;
                width: 140px;
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                top: 0;
                left: 0;
                transform: translateX(-110%) translateY(-50%);

                @media only screen and (max-width:795px) {
                
                    display: none;
                }
            }

            ul {
                margin: 0;
                padding: 0;


                li {
                    font-size: size(18);
                    font-family: $circular;
                    margin-bottom: 12px;
                }
            }
        }
    }
}