.why-onire-container {
    padding: 66px 0 138px;
    background: url('./../img/bg-why-onire.svg') no-repeat;
    background-position: -125px 14px;

    .why-onire-wrapper {
        max-width: 1361px;
        margin: 0 auto;
        
        @media screen and (max-width: 1361px) {
            padding: 0 30px;
        }
    }

    .why-onire-tag {
        font-size: 14px;
        font-family: $circular;
        font-weight: 500;
        color: $lightBlue;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        background-color: $white;
        padding-top: 10px;

        &::before {
            content: "";
            display: block;
            width: 14px;
            height: 1px;
            background-color: $lightBlue;
            margin-right: 10px;
        }
    }

    .why-onire-title {
        max-width: 640px;
        background: $white;
        padding: 10px 0;

        h1 {
            font-size: 30px;
            font-family: $circular;
            font-weight: 500;
            margin: 0;
            line-height: 40px;
        }
    }

    .why-onire-card-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 45px;
        width: 100%;

        @media screen and (max-width: 480px) {
            justify-content: center;
        }

        .card {
            width: 225px;
            height: 275px;
            background-color: $white;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(#000, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px 12px;

            @media screen and (max-width: 768px) {
                margin: 10px 5px;
            }

            .card-img {
                width: 90px;
                height: 85px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .card-text {
                text-align: center;

                h4 {
                    font-size: 16px;
                    font-weight: 400;
                    font-family: $inter;
                }
            }
        }
    }
}