// ===
/* ANCHOR VARIABLES FONTS */
// ===

$circular : 'Circular';
$inter : 'Inter';

// ===
/* ANCHOR VARIABLES COLORS */
// ===

$black : #272727;
$white : #FFF;
$lightBlue : #56CEE0;
$blue : #49C0E2;
$darkBlue : #518FD8;
$lightPurple : #5E60CF;
$purple : #692EC4;
$darkPurple : #7413B8;
$lightPink : #E94C89;
$pink : #F21689;
